{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home" style="padding-top: 22px;">

        <div class="pageheader-content row">
            <div class="col-full">

                <div class="featured">

                    <div class="featured__column featured__column--big">
                        <div class="entry" style="background-image:url('{{ featured_post_list.0.first_image.url }}');">

                            <div class="entry__content">
                                <!-- <span class="entry__category"><a href="#0">Tag</a></span> -->

                                <h1><a href="#0" title="">{{ featured_post_list.0.title }}</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{{ featured_post_list.0.first_image.url }}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">{{ featured_post_list.0.author.name }}</a></li>
                                        <li>{{ featured_post_list.0.created_at }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->
                    </div> <!-- end featured__big -->

                    <div class="featured__column featured__column--small">

                        <div class="entry" style="background-image:url('{{ featured_post_list.1.first_image.url }}');">

                            <div class="entry__content">
                                <!-- <span class="entry__category"><a href="#0">Tag</a></span> -->

                                <h1><a href="#0" title="">{{ featured_post_list.1.title }}</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{{ featured_post_list.1.first_image.url }}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">{{ featured_post_list.1.author.name }}</a></li>
                                        <li>{{ featured_post_list.1.created_at }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                        <div class="entry" style="background-image:url('{{ featured_post_list.2.first_image.url }}');">

                            <div class="entry__content">
                                <!-- <span class="entry__category"><a href="#0">Tag</a></span> -->

                                <h1><a href="#0" title="">{{ featured_post_list.2.title }}</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{{ featured_post_list.2.first_image.url }}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">{{ featured_post_list.2.author.name }}</a></li>
                                        <li>{{ featured_post_list.2.created_at }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__small -->
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div> <!-- end pageheader-content row -->

    </section> <!-- end s-pageheader -->
<section class="s-content">
    <div class="row masonry-wrap">
        <div class="masonry" style="position: relative; height: 3644px;">
            <div class="grid-sizer"></div>
            {% for post in post_list %}
                <article class="masonry__brick entry format-standard aos-init aos-animate" data-aos="fade-up" style="position: absolute; left: 0%; top: 0px;">

                    <div class="entry__thumb">
                        <a href="" class="entry__thumb-link">
                            {% if post.first_image %}
                                <img src="{{ post.first_image.url }}" srcset="{{ post.first_image.url }} 1x, {{ post.first_image.url }} 2x" alt="{{ post.title }}">
                            {% endif %}
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">{{ post.created_at }}</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html">{{ post.title }}</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{ post.content | truncatechars:150 }}
                            </p>
                        </div>
                        <!--
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Design</a>
                                <a href="category.html">Photography</a>
                            </span>
                        </div>
                        -->
                    </div>

                </article>
            {% endfor %}
        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->

    <div class="row">
        <div class="col-full">
            <nav class="pgn">
                <ul>
                    {% if post_list.has_previous %}
                        <li><a class="pgn__prev" href="?page=1">&laquo; First</a></li>
                        <li><a class="pgn__prev" href="?page={{ post_list.previous_page_number }}">Prev</a></li>
                    {% endif %}
                    <li><a class="pgn__num" href="#0">Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}</a></li>
                    {% if post_list.has_next %}
                        <li><a class="pgn__next" href="?page={{ post_list.next_page_number }}">Next</a></li>
                        <li><a class="pgn__next" href="?page={{ post_list.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

</section>

{% endblock %}
