{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock %}
{% block content %}
<section class="s-content">

    <div class="row narrow">
        <div class="col-full s-content__header aos-init aos-animate" data-aos="fade-up">
            <h1>{% translate "Category: Classics" %}</h1>

            <p class="lead">{% translate "Dolor similique vitae. Exercitationem quidem occaecati iusto. Id non vitae enim quas error dolor maiores ut. Exercitationem earum ut repudiandae optio veritatis animi nulla qui dolores." %}</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry" style="position: relative; height: 3644px;">
            <div class="grid-sizer"></div>
            {% for cocktail in object_list %}
                <article class="masonry__brick entry format-gallery aos-init aos-animate" data-aos="fade-up" style="position: absolute; left: 33.3333%; top: 1328px;">

                    <div class="entry__thumb slider">
                        <div class="slider__slides slick-initialized slick-slider slick-dotted" role="toolbar">
                            <div aria-live="polite" class="slick-list draggable" style="height: 390px;"><div class="slick-track" style="opacity: 1; width: 900px;" role="listbox"><div class="slider__slide slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 300px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                <img src="images/thumbs/masonry/gallery/gallery-1-400.jpg" srcset="images/thumbs/masonry/gallery/gallery-1-400.jpg 1x, images/thumbs/masonry/gallery/gallery-1-800.jpg 2x" alt="">
                            </div><div class="slider__slide slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 300px; position: relative; left: -300px; top: 0px; z-index: 998; opacity: 0;">
                                <img src="images/thumbs/masonry/gallery/gallery-2-400.jpg" srcset="images/thumbs/masonry/gallery/gallery-2-400.jpg 1x, images/thumbs/masonry/gallery/gallery-2-800.jpg 2x" alt="">
                            </div><div class="slider__slide slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 300px; position: relative; left: -600px; top: 0px; z-index: 998; opacity: 0;">
                                <img src="images/thumbs/masonry/gallery/gallery-3-400.jpg" srcset="images/thumbs/masonry/gallery/gallery-3-400.jpg 1x, images/thumbs/masonry/gallery/gallery-3-800.jpg 2x" alt="">
                            </div></div></div>


                        <ul class="slick-dots" style="" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01"><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02"><button type="button" data-role="none" role="button" tabindex="0">3</button></li></ul></div>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-gallery.html">{{ cocktail.created_at }}</a>
                            </div>
                            <h1 class="entry__title"><a href="single-gallery.html">{{ cocktail.drink.post.title }}</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{ cocktail.drink.post.content | truncatechars:150 }}
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Work</a>
                                <a href="category.html">Management</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->
            {% endfor %}
        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->

    <div class="row">
        <div class="col-full">
            <nav class="pgn">
                <ul>
                    <li><a class="pgn__prev" href="#0">Prev</a></li>
                    <li><a class="pgn__num" href="#0">1</a></li>
                    <li><span class="pgn__num current">2</span></li>
                    <li><a class="pgn__num" href="#0">3</a></li>
                    <li><a class="pgn__num" href="#0">4</a></li>
                    <li><a class="pgn__num" href="#0">5</a></li>
                    <li><span class="pgn__num dots">…</span></li>
                    <li><a class="pgn__num" href="#0">8</a></li>
                    <li><a class="pgn__next" href="#0">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

</section>
{% endblock %}
